.styled-badge {
  position: relative;
  z-index: 1;
  zoom: 1;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 3px;
  background-color: transparent;
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  letter-spacing: -0.3px;
  vertical-align: middle;
}
.bg {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
