// Medistream 컬러 팔레트
// 기존 Material Design 팔레트에 읿부 색상을 덮어쓰기 합니다.

$red: (
  50: #fce8e6,
  100: #fabab3,
  200: #f5948a,
  300: #ed6d5e,
  400: #eb5847,
  500: #e64937,
  600: #d93826,
  700: #c93221,
  800: #ba2c1c,
  900: #ab2617
);

$indigo: (
  50: #e8eaf6,
  100: #c5cae9,
  200: #9fa8da,
  300: #7986cb,
  400: #5c6bc0,
  500: #3f51b5,
  600: #3949ab,
  700: #303f9f,
  800: #283593,
  900: #1a237e,
  A100: #8c9eff,
  A200: #536dfe,
  A400: #3d5afe,
  A700: #304ffe
);

$blue: (
  50: #e9f3ff,
  100: #d1e6ff,
  200: #a8cfff,
  300: #80b9ff,
  400: #5ca6ff,
  500: #3d94ff,
  600: #1d77ff,
  700: #1066e9,
  800: #036ae3,
  900: #0b52bd
);

$teal: (
  50: #e4f7f3,
  100: #bbebe1,
  200: #8ddece,
  300: #5fd0ba,
  400: #3dc6ab,
  500: #1bbc9c,
  600: #18b694,
  700: #14ad8a,
  800: #10a580,
  900: #08976e
);

$green: (
  50: #E7F6EB,
  100: #c6e9cd,
  200: #a2dbae,
  300: #7bce8e,
  400: #03c75a,
  500: #3eb75d,
  600: #35a853,
  700: #2a9647,
  800: #20843d,
  900: #0b6529
);

$deep-orange: (
  50: #fbeee5,
  100: #f6d4bd,
  200: #f0b891,
  300: #e99b65,
  400: #e58544,
  500: #e07023,
  600: #dc681f,
  700: #d85d1a,
  800: #d35315,
  900: #cb410c
);

$blue-grey: (
  50: #FBFCFF,
  100: #F1F3F8,
  200: #E1E4EC,
  300: #D4D7DF,
  400: #B5B7BF,
  500: #94969D,
  600: #6B6D73,
  700: #515257,
  800: #313236,
  900: #1A1B1E
);
