// Moreden 컬러 팔레트

$grey: (
  50: #FAFAFA,
  100: #F5F5F5,
  200: #EDEDED,
  300: #CCCCCC,
  400: #BABABA,
  500: #999999,
  600: #666666,
  700: #5B5B5B,
  900: #333333,
);
$deep-purple: (
  50: #F5F4FF,
  100: #EDEAFF,
  200: #E6DBFF,
  300: #DED1FF,
  400: #CAB6FF,
  500: #B49BF5,
  600: #9476E2,
  700: #6F4DC8,
  800: #4A25AA,
  900: #3A2D73,
);
$blue-grey: (
  50: #FBFCFF,
  100: #F1F3F8,
  200: #E1E4EC,
  300: #D4D7DF,
  400: #BFC2C3,
  500: #94969D,
  600: #6B6D73,
  700: #515257,
  800: #313236,
  900: #1A1B1E,
);
$red: (
  50: #FCE8E6,
  100: #FABAB3,
  200: #F5948A,
  300: #ED6D5E,
  400: #EB5847,
  500: #E64937,
  600: #D93826,
  700: #C93221,
  800: #BA2C1C,
  900: #AB2617,
);
$green: (
  50: #E7F6EB,
  100: #C6E9CD,
  200: #A2DBAE,
  300: #7BCE8E,
  400: #5DC375,
  500: #3EB75D,
  600: #35A853,
  700: #2A9647,
  800: #20843D,
  900: #0B6529,
);
$blue: (
  50: #E9F3FF,
  100: #D1E6FF,
  200: #A8CFFF,
  300: #80B9FF,
  400: #5CA6FF,
  500: #3D94FF,
  600: #1D77FF,
  700: #1066E9,
  800: #036AE3,
  900: #0B52BD,
);
$teal: (
  50: #E4F7F3,
  100: #BBEBE1,
  200: #8DDECE,
  300: #5FD0BA,
  400: #3DC6AB,
  500: #1BBC9C,
  600: #18B694,
  700: #14AD8A,
  800: #10A580,
  900: #08976E,
);
$pink: (
  50: #FFEAF3,
  100: #FFDEEC,
  200: #FFCEE3,
  300: #FFB9D6,
  400: #FFA0C8,
  500: #FF8DBD,
  600: #FF78B1,
  700: #FF60A3,
  800: #FE4492,
  900: #FF187A,
);
$yellow: (
  50: #FFF6C7,
  100: #FFF1A6,
  200: #FFED8F,
  300: #FFE872,
  400: #FFE458,
  500: #FFDF37,
  600: #FFDB1C,
  700: #FFC700,
  800: #FFB800,
  900: #FE9800,
);
$light-green: (
  50: #E1FFE5,
  100: #CAFFD1,
  200: #A1FFAB,
  300: #74FF81,
  400: #45FF58,
  500: #18EF2D,
  600: #0AE320,
  700: #00C714,
  800: #00A911,
  900: #008E0E,
);

// Alias for alternate spelling.
$gray: $grey;

// Alias for alternate spelling.
$blue-gray: $blue-grey;
